/* Add application styles & imports to this file! */


/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mr-2 {
    margin-right: 0.5rem;
}

td,
th {
    width: 25%;
}

mat-icon {
    font-size: 18px;
}

.table-buttons__field {
    min-width: 200px;
}


/* Structure */

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

img {
    width: 40px;
    height: 40px;
}

mat-form-field {
    width: 90%;
}

.btn-sec {
    margin-right: 5rem !important;
    text-align: right;
    margin-top: 1.5em;
}

.Update-btn {
    margin: 5px;
}

.Discard-btn {
    margin: 5px;
}

.text-inside {
    position: absolute;
    left: 5px;
    width: 100%;
}

@media (max-width: 800px) {
    .btn-sec {
        margin-right: 1rem !important;
    }
}

@media (max-width: 600px) {
    .btn-sec {
        margin-right: 1rem !important;
    }
}