/* Add application styles & imports to this file! */


/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

mat-icon {
    font-size: 18px;
}

.table-buttons__field {
    min-width: 200px;
}