<div>
    <div class="add-title">
        <h2 class="primary">{{title}}</h2>
    </div>
    <div>
        <form [formGroup]="addStudentForm" (change)="formChanged()" (ngSubmit)="onSubmit()">
            <mat-grid-list cols="2" [cols]="breakpoint" rowHeight="85px" (window:resize)="onResize($event)">
                <mat-grid-tile>
                    <div class="text-inside">
                        <mat-form-field>
                            <input matInput placeholder="First Name" formControlName="name" required>
                            <mat-error *ngIf="addStudentForm.controls.name.hasError('required')">
                                Please enter first name
                            </mat-error>
                            <mat-error *ngIf="addStudentForm.controls.name.hasError('pattern')">
                                Please enter valid first name
                            </mat-error>
                            <mat-error *ngIf="addStudentForm.controls.name.hasError('maxlength')">
                                This field must have at most 90 characters.
                            </mat-error>
                            <mat-error *ngIf="addStudentForm.controls.name.hasError('minlength')">
                                This field must have at least 3 characters.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="text-inside">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Last Name" formControlName="lastName" required>
                            <mat-error *ngIf="addStudentForm.controls.lastName.hasError('required')">
                                Please enter last name
                            </mat-error>
                            <mat-error *ngIf="addStudentForm.controls.lastName.hasError('pattern')">
                                Please enter valid last name
                            </mat-error>
                            <mat-error *ngIf="addStudentForm.controls.lastName.hasError('maxlength')">
                                This field must have at most 90 characters.
                            </mat-error>
                            <mat-error *ngIf="addStudentForm.controls.lastName.hasError('minlength')">
                                This field must have at least 3 characters.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile>
                    <div class="text-inside">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Email address" formControlName="email" required>
                            <mat-error *ngIf="addStudentForm.controls.email.hasError('required')">
                                Please enter email
                            </mat-error>
                            <mat-error *ngIf="addStudentForm.controls.email.hasError('email')">
                                Please enter valid email
                            </mat-error>
                            <mat-error *ngIf="addStudentForm.controls.email.hasError('maxlength')">
                                This field must have at most 90 characters.
                            </mat-error>
                            <mat-error *ngIf="addStudentForm.controls.email.hasError('minlength')">
                                This field must have at least 3 characters.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile>
                    <div class="text-inside">
                        <mat-form-field class="example-full-width">
                            <mat-label>File matInput</mat-label>
                            <button mat-icon-button matPrefix (click)="f_input.click()">
                                <mat-icon>attach_file</mat-icon>
                            </button>
                            <input type="text" readonly matInput [formControl]="display" />
                            <input type="file" accept="image/png, image/gif, image/jpeg" formControlName="image" hidden #f_input (change)="handleFileInputChange(f_input.files)" />
                            <mat-error *ngIf="addStudentForm.controls.image.hasError('required')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>

            </mat-grid-list>

            <div class="btn-sec">
                <button [disabled]="!addStudentForm.valid" mat-raised-button type="submit" color="primary" class="Update-btn">{{titleButton}}</button>
                <button mat-raised-button type="button" class="Discard-btn" (click)="openDialog()">Cancel</button>
            </div>

        </form>
    </div>
</div>